In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cpifeb/CPI_Historic_Values_Zindi_Feb_23.csv
/kaggle/input/aprilz/PRICES_CPI_18042023002734564.csv
/kaggle/input/aprilz/API_ZAF_DS2_en_csv_v2_5362035/Metadata_Country_API_ZAF_DS2_en_csv_v2_5362035.csv
/kaggle/input/aprilz/API_ZAF_DS2_en_csv_v2_5362035/Metadata_Indicator_API_ZAF_DS2_en_csv_v2_5362035.csv
/kaggle/input/aprilz/API_ZAF_DS2_en_csv_v2_5362035/API_ZAF_DS2_en_csv_v2_5362035.csv
/kaggle/input/cpizindi/currency_data.csv
/kaggle/input/cpizindi/Naamsa_Vehicle_Sales.csv
/kaggle/input/cpizindi/PayProp_Rental_Index.csv
/kaggle/input/cpizindi/jse_indices.csv
/kaggle/input/cpizindi/SampleSubmission.csv
/kaggle/input/cpizindi/CPI_Historic_Values_Zindi.csv

In [2]:
pd.set_option('display.max_colwidth', 250)
pd.set_option('display.max_columns', 500)

capi=pd.read_csv('../input/aprilz/API_ZAF_DS2_en_csv_v2_5362035/Metadata_Country_API_ZAF_DS2_en_csv_v2_5362035.csv')
mapi=pd.read_csv('../input/aprilz/API_ZAF_DS2_en_csv_v2_5362035/Metadata_Indicator_API_ZAF_DS2_en_csv_v2_5362035.csv')
#api=pd.read_csv('../input/aprilz/API_ZAF_DS2_en_csv_v2_5362035/API_ZAF_DS2_en_csv_v2_5362035.csv')

vs=pd.read_csv('../input/cpizindi/Naamsa_Vehicle_Sales.csv')
pp=pd.read_csv('../input/cpizindi/PayProp_Rental_Index.csv')

In [3]:
history=pd.read_csv('../input/cpifeb/CPI_Historic_Values_Zindi_Feb_23.csv')
history.Category=history.Category.str.lower().replace({"restaurants and hotels ":"restaurants and hotels","headline_cpi":"headline CPI"})
jse=pd.read_csv('../input/cpizindi/jse_indices.csv')
cd=pd.read_csv('../input/cpizindi/currency_data.csv')
ss=pd.read_csv('../input/cpizindi/SampleSubmission.csv')
data=pd.read_csv('../input/aprilz/PRICES_CPI_18042023002734564.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
ss

                                        ID  Value
0                       April_headline CPI      0
1   April_food and non-alcoholic beverages      0
2    April_alcoholic beverages and tobacco      0
3              April_clothing and footwear      0
4              April_housing and utilities      0
5    April_household contents and services      0
6                             April_health      0
7                          April_transport      0
8                      April_communication      0
9             April_recreation and culture      0
10                         April_education      0
11            April_restaurants and hotels      0
12  April_miscellaneous goods and services      0

In [5]:
jse

,date,Top 40 Index,Mid Cap Index,Small Cap Index,All-Share Index,Large Cap Index,Fin 15 Index
0,2018-01-02,52823.988281,79812.476563,60617.621094,59731.160156,58643.988281,17683.800781
1,2018-01-03,52832.070313,78737.750000,60794.250000,59629.640625,58641.011719,17249.750000
2,2018-01-04,52662.628906,78528.953125,60762.968750,59476.769531,58487.031250,17189.369141
3,2018-01-05,52842.679688,79251.117188,60684.218750,59717.199219,58689.031250,17254.529297
4,2018-01-08,53131.699219,79509.101563,61136.578125,60038.390625,59019.320313,17283.570313
...,...,...,...,...,...,...,...
1301,2023-03-14,69363.578125,76188.679688,67477.093750,75008.679688,77699.109375,15616.799805
1302,2023-03-15,67306.531250,74393.570313,66690.710938,72895.539063,75351.882813,15182.049805
1303,2023-03-16,67445.992188,74144.757813,66580.648438,72905.500000,75437.898438,15223.030273
1304,2023-03-17,67001.156250,74117.382813,66588.203125,72527.921875,74931.937500,15107.169922
1305,2023-03-20,68799.281250,74453.937500,66482.937500,74271.062500,77281.296875,15065.700195

In [6]:
cd

            Date    USD/ZAR    GBP/ZAR    EUR/ZAR
0     2018-01-01  12.310454  16.640806  14.778700
1     2018-01-02  12.390942  16.744291  14.884000
2     2018-01-03  12.434303  16.906560  14.999500
3     2018-01-04  12.360366  16.702070  14.844800
4     2018-01-05  12.292153  16.663372  14.835400
...          ...        ...        ...        ...
1901  2023-03-17  18.452360  22.452800  19.830344
1902  2023-03-18  18.762760  22.868297  20.230936
1903  2023-03-19  18.308849  22.283729  19.530859
1904  2023-03-20  18.500143  22.724316  19.839696
1905  2023-03-21  18.509467  22.718838  19.836685

[1906 rows x 4 columns]

In [7]:
data.Country.value_counts()

Japan                                              23880
Denmark                                            22309
Czech Republic                                     22236
Slovak Republic                                    22089
United Kingdom                                     22035
Netherlands                                        21950
Finland                                            21718
Latvia                                             21426
Hungary                                            21354
Luxembourg                                         21352
Portugal                                           21352
Slovenia                                           21352
France                                             21271
Switzerland                                        21190
Spain                                              21170
Italy                                              21160
Austria                                            21102
Greece                                             20950
Belgium                                            20855
Ireland                                            20854
Estonia                                            20846
Iceland                                            20760
Norway                                             20739
Germany                                            20634
Poland                                             20577
Lithuania                                          20524
United States                                      20488
Türkiye                                            20159
Sweden                                             18533
Costa Rica                                         16971
Israel                                             15047
Chile                                              14707
Mexico                                             14612
Korea                                              14462
Colombia                                           13792
Canada                                             12550
South Africa                                       11102
Russia                                              9397
European Union – 27 countries (from 01/02/2020)     8690
Euro area (20 countries)                            8599
Saudi Arabia                                        7188
India                                               4648
New Zealand                                         4647
Brazil                                              4256
Argentina                                           4215
Australia                                           3795
OECD - Europe                                       1932
G7                                                  1932
OECD - Total                                        1932
Indonesia                                           1165
China (People's Republic of)                        1097
G20                                                  414
Name: Country, dtype: int64

In [8]:
zaf = data[data.Country=="South Africa"]
zaf

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
147812,ZAF,South Africa,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,M,Monthly,2015-01,Jan-2015,IDX,Index,0,Units,2015_100,2015=100,97.468510,NaN,NaN
147813,ZAF,South Africa,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,M,Monthly,2015-02,Feb-2015,IDX,Index,0,Units,2015_100,2015=100,97.900420,NaN,NaN
147814,ZAF,South Africa,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,M,Monthly,2015-03,Mar-2015,IDX,Index,0,Units,2015_100,2015=100,98.620280,NaN,NaN
147815,ZAF,South Africa,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,M,Monthly,2015-04,Apr-2015,IDX,Index,0,Units,2015_100,2015=100,99.196160,NaN,NaN
147816,ZAF,South Africa,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,M,Monthly,2015-05,May-2015,IDX,Index,0,Units,2015_100,2015=100,99.772050,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745423,ZAF,South Africa,CPGRHO01,CPI: Housing,GP,Percentage change from previous period,M,Monthly,2022-10,Oct-2022,PC,Percentage,0,Units,NaN,NaN,0.023647,NaN,NaN
745424,ZAF,South Africa,CPGRHO01,CPI: Housing,GP,Percentage change from previous period,M,Monthly,2022-11,Nov-2022,PC,Percentage,0,Units,NaN,NaN,0.023641,NaN,NaN
745425,ZAF,South Africa,CPGRHO01,CPI: Housing,GP,Percentage change from previous period,M,Monthly,2022-12,Dec-2022,PC,Percentage,0,Units,NaN,NaN,0.361733,NaN,NaN
745426,ZAF,South Africa,CPGRHO01,CPI: Housing,GP,Percentage change from previous period,M,Monthly,2023-01,Jan-2023,PC,Percentage,0,Units,NaN,NaN,0.042390,NaN,NaN
745427,ZAF,South Africa,CPGRHO01,CPI: Housing,GP,Percentage change from previous period,M,Monthly,2023-02,Feb-2023,PC,Percentage,0,Units,NaN,NaN,0.037664,NaN,NaN

In [9]:
zaf["Measure"].value_counts()

Index                                                        3036
Percentage change from previous period                       3036
Percentage change on the same period of the previous year    3036
National Index                                               1794
Per thousand of the National CPI Total                        200
Name: Measure, dtype: int64

In [10]:
history["Month"].value_counts()

28-02-2023    13
31-01-2023    13
31-12-2022    13
30-11-2022    13
31-10-2022    13
30-09-2022    13
31-08-2022    13
31-07-2022    13
30-06-2022    13
31-05-2022    13
30-04-2022    13
31-03-2022    13
28-02-2022    13
31-01-2022    13
Name: Month, dtype: int64

In [11]:
zaf=zaf[(zaf['Time']=='Feb-2023')&(zaf["Measure"]=="National Index")][["Subject","Value"]]
zaf

,Subject,Value
199713,"CPI: 04 - Housing, water, electricity, gas and other fuels",104.3
208906,CPI: 01-12 - All items,108.2
221118,CPI: 03 - Clothing and footwear,103.5
221314,CPI: 01 - Food and non-Alcoholic beverages,115.7
233427,"CPI: 02 - Alcoholic beverages, tobacco and narcotics",107.0
249320,CPI: 07 - Transport,111.1
263104,CPI: 09 - Recreation and culture,103.3
270915,CPI: 06 - Health,108.4
280047,"CPI: 05 - Furnishings, household equipment and routine household maintenance",106.8
373101,CPI: 08 - Communication,99.7
428592,CPI: 10 - Education,104.4
443467,CPI: 11 - Restaurants and hotels,108.7
472658,CPI: 12 - Miscellaneous goods and services,107.4

In [12]:
history

,Month,Category,Value,Percentage Change (From Prior Month),Unnamed: 4
0,28-02-2023,headline CPI,107.9,0.7,NaN
1,28-02-2023,food and non-alcoholic beverages,115.6,1.0,NaN
2,28-02-2023,alcoholic beverages and tobacco,106.9,0.4,NaN
3,28-02-2023,clothing and footwear,103.5,0.6,NaN
4,28-02-2023,housing and utilities,104.1,0.0,NaN
...,...,...,...,...,...
177,31-01-2022,communication,99.8,-0.2,NaN
178,31-01-2022,recreation and culture,100.2,0.2,NaN
179,31-01-2022,education,100.0,0.0,NaN
180,31-01-2022,restaurants and hotels,101.2,1.2,NaN
181,31-01-2022,miscellaneous goods and services,100.6,0.6,NaN

In [13]:
scorer = history[history["Month"]=="28-02-2023"]
scorer["Subject"] = scorer.Category.replace({
    "headline CPI":"CPI: 01-12 - All items",
    "food and non-alcoholic beverages":"CPI: 01 - Food and non-Alcoholic beverages",
    "alcoholic beverages and tobacco":"CPI: 02 - Alcoholic beverages, tobacco and narcotics",
    "clothing and footwear":"CPI: 03 - Clothing and footwear",
    "housing and utilities":"CPI: 04 - Housing, water, electricity, gas and other fuels",
    "household contents and services":"CPI: 05 - Furnishings, household equipment and routine household maintenance",
    "health":"CPI: 06 - Health",
    "transport":"CPI: 07 - Transport",
    "communication":"CPI: 08 - Communication",
    "recreation and culture":"CPI: 09 - Recreation and culture",
    "education":"CPI: 10 - Education",
    "restaurants and hotels":"CPI: 11 - Restaurants and hotels",
    "miscellaneous goods and services":"CPI: 12 - Miscellaneous goods and services",
})
scorer

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,Month,Category,Value,Percentage Change (From Prior Month),Unnamed: 4,Subject
0,28-02-2023,headline CPI,107.9,0.7,NaN,CPI: 01-12 - All items
1,28-02-2023,food and non-alcoholic beverages,115.6,1.0,NaN,CPI: 01 - Food and non-Alcoholic beverages
2,28-02-2023,alcoholic beverages and tobacco,106.9,0.4,NaN,"CPI: 02 - Alcoholic beverages, tobacco and narcotics"
3,28-02-2023,clothing and footwear,103.5,0.6,NaN,CPI: 03 - Clothing and footwear
4,28-02-2023,housing and utilities,104.1,0.0,NaN,"CPI: 04 - Housing, water, electricity, gas and other fuels"
5,28-02-2023,household contents and services,106.6,0.0,NaN,"CPI: 05 - Furnishings, household equipment and routine household maintenance"
6,28-02-2023,health,108.5,3.4,NaN,CPI: 06 - Health
7,28-02-2023,transport,110.6,0.6,NaN,CPI: 07 - Transport
8,28-02-2023,communication,99.8,0.4,NaN,CPI: 08 - Communication
9,28-02-2023,recreation and culture,103.3,-0.1,NaN,CPI: 09 - Recreation and culture
10,28-02-2023,education,104.4,0.0,NaN,CPI: 10 - Education
11,28-02-2023,restaurants and hotels,108.8,1.9,NaN,CPI: 11 - Restaurants and hotels
12,28-02-2023,miscellaneous goods and services,107.7,2.2,NaN,CPI: 12 - Miscellaneous goods and services

In [14]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import LabelEncoder

In [15]:
check = pd.merge(scorer,zaf,on="Subject",how="left")
check

,Month,Category,Value_x,Percentage Change (From Prior Month),Unnamed: 4,Subject,Value_y
0,28-02-2023,headline CPI,107.9,0.7,NaN,CPI: 01-12 - All items,108.2
1,28-02-2023,food and non-alcoholic beverages,115.6,1.0,NaN,CPI: 01 - Food and non-Alcoholic beverages,115.7
2,28-02-2023,alcoholic beverages and tobacco,106.9,0.4,NaN,"CPI: 02 - Alcoholic beverages, tobacco and narcotics",107.0
3,28-02-2023,clothing and footwear,103.5,0.6,NaN,CPI: 03 - Clothing and footwear,103.5
4,28-02-2023,housing and utilities,104.1,0.0,NaN,"CPI: 04 - Housing, water, electricity, gas and other fuels",104.3
5,28-02-2023,household contents and services,106.6,0.0,NaN,"CPI: 05 - Furnishings, household equipment and routine household maintenance",106.8
6,28-02-2023,health,108.5,3.4,NaN,CPI: 06 - Health,108.4
7,28-02-2023,transport,110.6,0.6,NaN,CPI: 07 - Transport,111.1
8,28-02-2023,communication,99.8,0.4,NaN,CPI: 08 - Communication,99.7
9,28-02-2023,recreation and culture,103.3,-0.1,NaN,CPI: 09 - Recreation and culture,103.3
10,28-02-2023,education,104.4,0.0,NaN,CPI: 10 - Education,104.4
11,28-02-2023,restaurants and hotels,108.8,1.9,NaN,CPI: 11 - Restaurants and hotels,108.7
12,28-02-2023,miscellaneous goods and services,107.7,2.2,NaN,CPI: 12 - Miscellaneous goods and services,107.4

In [16]:
print(mse(check["Value_x"],check["Value_y"])**0.5)

0.20754980866510758

In [17]:
check

,Month,Category,Value_x,Percentage Change (From Prior Month),Unnamed: 4,Subject,Value_y
0,28-02-2023,headline CPI,107.9,0.7,NaN,CPI: 01-12 - All items,108.2
1,28-02-2023,food and non-alcoholic beverages,115.6,1.0,NaN,CPI: 01 - Food and non-Alcoholic beverages,115.7
2,28-02-2023,alcoholic beverages and tobacco,106.9,0.4,NaN,"CPI: 02 - Alcoholic beverages, tobacco and narcotics",107.0
3,28-02-2023,clothing and footwear,103.5,0.6,NaN,CPI: 03 - Clothing and footwear,103.5
4,28-02-2023,housing and utilities,104.1,0.0,NaN,"CPI: 04 - Housing, water, electricity, gas and other fuels",104.3
5,28-02-2023,household contents and services,106.6,0.0,NaN,"CPI: 05 - Furnishings, household equipment and routine household maintenance",106.8
6,28-02-2023,health,108.5,3.4,NaN,CPI: 06 - Health,108.4
7,28-02-2023,transport,110.6,0.6,NaN,CPI: 07 - Transport,111.1
8,28-02-2023,communication,99.8,0.4,NaN,CPI: 08 - Communication,99.7
9,28-02-2023,recreation and culture,103.3,-0.1,NaN,CPI: 09 - Recreation and culture,103.3
10,28-02-2023,education,104.4,0.0,NaN,CPI: 10 - Education,104.4
11,28-02-2023,restaurants and hotels,108.8,1.9,NaN,CPI: 11 - Restaurants and hotels,108.7
12,28-02-2023,miscellaneous goods and services,107.7,2.2,NaN,CPI: 12 - Miscellaneous goods and services,107.4

- # Training

In [18]:
from sklearn.linear_model import Ridge
import lightgbm
from lightgbm import LGBMRegressor
import xgboost
from xgboost import XGBRegressor
from sklearn.ensemble import ExtraTreesRegressor
import catboost
from catboost import CatBoostRegressor

In [19]:
validation =0
x = 1
na_val=-999

In [20]:
if validation==1:
    #df = data[data['Time']!='Feb-2023']
    df = history[history["Month"]!='28-02-2023'].iloc[:,:3]
else:
    #df=data.copy()
    df=history.copy()
sub=pd.DataFrame()
check=pd.DataFrame()
df = df.rename({"Month":"Date"},axis=1)
CategoryEncoder = LabelEncoder()
df["Cat"] = CategoryEncoder.fit_transform(df["Category"]).astype("int")
df[["Day","Month","Year"]] = df["Date"].str.split("-",expand=True).astype("int")
df["Year"] = df["Year"] - df["Year"].min()
df["Timestamp"] = (df["Year"]*12)+df["Month"]
df = df.sort_values(["Category","Timestamp"])
for i in range(1,13,1):
    print(i)
    df[f"last{i}"] = df.groupby(["Category"])["Value"].shift(i)
    df[f"last{i}_"] = df[f"last{i}"]/df["Value"]
#df["mean_t"] = df[["last1","Value"]].mean(axis=1)
df["target"] = df.groupby(["Category"])["Value"].shift(-1*x)
#df=pd.get_dummies(df,columns=["Cat"])
target = "target"
drop_cols=["Date","Category",target]
if validation==1:
    tdf=df[df[target].isna()]
else:
    tdf=df[df["Timestamp"]==df["Timestamp"].max()]
df=df[df[target].notna()]
cols = df.drop(drop_cols,axis=1).columns
if validation==1:
    tdf=tdf[tdf["Timestamp"]==tdf["Timestamp"].max()-(x-1)]
else:
    tdf = tdf[tdf["Timestamp"]==tdf["Timestamp"].max()]
model = Ridge()
#model = CatBoostRegressor(silent=True,cat_features=["Cat"])
#model = ExtraTreesRegressor(random_state=0,n_estimators=20)
#model = LGBMRegressor(n_estimators=100)#,objective="tweedie")
model.fit(df[cols].fillna(na_val),df[target])
tdf[target]= model.predict(tdf[cols].fillna(na_val))
if validation==1:
    check = pd.merge(scorer,tdf[["Category",target]],on="Category",how="left")
    print(mse(check["Value"],check[target])**0.5)
else:
    tdf["ID"]="April_"+tdf.Category.astype(str)
    tdf["Value"] = tdf[target].values
    sub=tdf[tdf.ID.isin(ss.ID)][ss.columns]
    sub.to_csv("sub.csv",index=None)
df

1
2
3
4
5
6
7
8
9
10
11
12

,Date,Category,Value,Percentage Change (From Prior Month),Unnamed: 4,Cat,Day,Month,Year,Timestamp,last1,last1_,last2,last2_,last3,last3_,last4,last4_,last5,last5_,last6,last6_,last7,last7_,last8,last8_,last9,last9_,last10,last10_,last11,last11_,last12,last12_,target
171,31-01-2022,alcoholic beverages and tobacco,100.0,0.0,NaN,0,31,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.6
158,28-02-2022,alcoholic beverages and tobacco,100.6,0.6,NaN,0,28,2,0,2,100.0,0.994036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.8
145,31-03-2022,alcoholic beverages and tobacco,102.8,2.2,NaN,0,31,3,0,3,100.6,0.978599,100.0,0.972763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.6
132,30-04-2022,alcoholic beverages and tobacco,103.6,0.8,NaN,0,30,4,0,4,102.8,0.992278,100.6,0.971042,100.0,0.965251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.4
119,31-05-2022,alcoholic beverages and tobacco,104.4,0.8,NaN,0,31,5,0,5,103.6,0.992337,102.8,0.984674,100.6,0.963602,100.0,0.957854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,30-09-2022,transport,112.0,-2.2,NaN,12,30,9,0,9,114.5,1.022321,115.6,1.032143,110.3,0.984821,105.9,0.945536,105.1,0.938393,103.7,0.925893,100.6,0.898214,98.9,0.883036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.7
59,31-10-2022,transport,111.7,-0.3,NaN,12,31,10,0,10,112.0,1.002686,114.5,1.025067,115.6,1.034915,110.3,0.987466,105.9,0.948075,105.1,0.940913,103.7,0.928380,100.6,0.900627,98.9,0.885407,NaN,NaN,NaN,NaN,NaN,NaN,113.1
46,30-11-2022,transport,113.1,1.3,NaN,12,30,11,0,11,111.7,0.987622,112.0,0.990274,114.5,1.012378,115.6,1.022104,110.3,0.975243,105.9,0.936340,105.1,0.929266,103.7,0.916888,100.6,0.889478,98.9,0.874447,NaN,NaN,NaN,NaN,113.9
33,31-12-2022,transport,113.9,0.7,NaN,12,31,12,0,12,113.1,0.992976,111.7,0.980685,112.0,0.983319,114.5,1.005268,115.6,1.014925,110.3,0.968393,105.9,0.929763,105.1,0.922739,103.7,0.910448,100.6,0.883231,98.9,0.868306,NaN,NaN,109.9
20,31-01-2023,transport,109.9,-3.5,NaN,12,31,1,1,13,113.9,1.036397,113.1,1.029117,111.7,1.016379,112.0,1.019108,114.5,1.041856,115.6,1.051865,110.3,1.003640,105.9,0.963603,105.1,0.956324,103.7,0.943585,100.6,0.915378,98.9,0.899909,110.6

In [21]:
tdf

,Date,Category,Value,Percentage Change (From Prior Month),Unnamed: 4,Cat,Day,Month,Year,Timestamp,last1,last1_,last2,last2_,last3,last3_,last4,last4_,last5,last5_,last6,last6_,last7,last7_,last8,last8_,last9,last9_,last10,last10_,last11,last11_,last12,last12_,target,ID
2,28-02-2023,alcoholic beverages and tobacco,108.979980,0.4,NaN,0,28,2,1,14,106.5,0.996258,106.2,0.993452,106.4,0.995323,106.1,0.992516,105.6,0.987839,104.7,0.979420,104.4,0.976614,104.5,0.977549,104.4,0.976614,103.6,0.969130,102.8,0.961646,100.6,0.941066,108.979980,April_alcoholic beverages and tobacco
3,28-02-2023,clothing and footwear,104.118706,0.6,NaN,1,28,2,1,14,102.9,0.994203,102.8,0.993237,102.6,0.991304,102.6,0.991304,102.5,0.990338,102.1,0.986473,101.6,0.981643,101.3,0.978744,100.9,0.974879,100.7,0.972947,100.5,0.971014,100.3,0.969082,104.118706,April_clothing and footwear
8,28-02-2023,communication,99.583919,0.4,NaN,2,28,2,1,14,99.4,0.995992,99.1,0.992986,99.2,0.993988,99.8,1.000000,99.9,1.001002,100.1,1.003006,99.4,0.995992,100.3,1.005010,99.9,1.001002,99.6,0.997996,99.7,0.998998,99.7,0.998998,99.583919,April_communication
10,28-02-2023,education,108.113341,0.0,NaN,3,28,2,1,14,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,104.4,1.000000,100.0,0.957854,108.113341,April_education
1,28-02-2023,food and non-alcoholic beverages,117.232275,1.0,NaN,4,28,2,1,14,114.4,0.989619,112.4,0.972318,111.9,0.967993,111.3,0.962803,110.3,0.954152,109.7,0.948962,107.8,0.932526,106.6,0.922145,105.3,0.910900,103.1,0.891869,102.4,0.885813,101.8,0.880623,117.232275,April_food and non-alcoholic beverages
0,28-02-2023,headline CPI,109.973039,0.7,NaN,5,28,2,1,14,107.1,0.992586,107.2,0.993513,106.8,0.989805,106.5,0.987025,106.1,0.983318,106.0,0.982391,105.8,0.980538,104.2,0.965709,103.1,0.955514,102.4,0.949027,101.8,0.943466,100.8,0.934198,109.973039,April_headline CPI
6,28-02-2023,health,111.906725,3.4,NaN,6,28,2,1,14,104.9,0.966820,104.8,0.965899,104.7,0.964977,104.5,0.963134,104.0,0.958525,104.2,0.960369,104.1,0.959447,104.6,0.964055,104.3,0.961290,104.0,0.958525,103.7,0.955760,103.2,0.951152,111.906725,April_health
5,28-02-2023,household contents and services,107.310326,0.0,NaN,7,28,2,1,14,106.6,1.000000,106.1,0.995310,105.2,0.986867,105.0,0.984991,104.5,0.980300,103.7,0.972795,103.3,0.969043,103.0,0.966229,101.8,0.954972,101.1,0.948405,100.8,0.945591,100.4,0.941839,107.310326,April_household contents and services
4,28-02-2023,housing and utilities,105.130102,0.0,NaN,8,28,2,1,14,104.1,1.000000,104.1,1.000000,103.8,0.997118,103.8,0.997118,103.7,0.996158,103.2,0.991354,103.1,0.990394,101.2,0.972142,100.6,0.966378,100.5,0.965418,100.5,0.965418,100.1,0.961575,105.130102,April_housing and utilities
12,28-02-2023,miscellaneous goods and services,109.762832,2.2,NaN,9,28,2,1,14,105.4,0.978644,104.9,0.974002,104.7,0.972145,104.7,0.972145,103.8,0.963788,103.5,0.961003,103.4,0.960074,103.0,0.956360,102.9,0.955432,102.8,0.954503,101.9,0.946147,101.5,0.942433,109.762832,April_miscellaneous goods and services
9,28-02-2023,recreation and culture,104.126778,-0.1,NaN,10,28,2,1,14,103.4,1.000968,103.4,1.000968,102.8,0.995160,102.7,0.994192,102.5,0.992256,102.4,0.991288,102.3,0.990319,101.2,0.979671,101.0,0.977735,100.7,0.974831,100.4,0.971926,100.3,0.970958,104.126778,April_recreation and culture
11,28-02-2023,restaurants and hotels,111.674954,1.9,NaN,11,28,2,1,14,106.8,0.981618,107.8,0.990809,108.0,0.992647,107.4,0.987132,106.2,0.976103,104.3,0.958640,104.6,0.961397,104.2,0.957721,103.8,0.954044,103.3,0.949449,103.0,0.946691,101.9,0.936581,111.674954,April_restaurants and hotels
7,28-02-2023,transport,116.665369,0.6,NaN,12,28,2,1,14,109.9,0.993671,113.9,1.029837,113.1,1.022604,111.7,1.009946,112.0,1.012658,114.5,1.035262,115.6,1.045208,110.3,0.997288,105.9,0.957505,105.1,0.950271,103.7,0.937613,100.6,0.909584,116.665369,April_transport

In [22]:
ss

                                        ID  Value
0                       April_headline CPI      0
1   April_food and non-alcoholic beverages      0
2    April_alcoholic beverages and tobacco      0
3              April_clothing and footwear      0
4              April_housing and utilities      0
5    April_household contents and services      0
6                             April_health      0
7                          April_transport      0
8                      April_communication      0
9             April_recreation and culture      0
10                         April_education      0
11            April_restaurants and hotels      0
12  April_miscellaneous goods and services      0

In [23]:
check

Empty DataFrame
Columns: []
Index: []

In [24]:
sub

                                        ID       Value
2    April_alcoholic beverages and tobacco  108.979980
3              April_clothing and footwear  104.118706
8                      April_communication   99.583919
10                         April_education  108.113341
1   April_food and non-alcoholic beverages  117.232275
0                       April_headline CPI  109.973039
6                             April_health  111.906725
5    April_household contents and services  107.310326
4              April_housing and utilities  105.130102
12  April_miscellaneous goods and services  109.762832
9             April_recreation and culture  104.126778
11            April_restaurants and hotels  111.674954
7                          April_transport  116.665369

In [25]:
df.corr().abs()[target].sort_values(ascending=False)

target                                  1.000000
Value                                   0.958884
last12_                                 0.935865
last1                                   0.898974
last9_                                  0.855272
last10_                                 0.852622
last2                                   0.852384
last11_                                 0.841862
last8_                                  0.824634
last3                                   0.795626
last7_                                  0.740888
last4                                   0.703280
last6_                                  0.658494
last5_                                  0.614216
last5                                   0.605621
last7                                   0.569404
last6                                   0.569335
last4_                                  0.536620
last8                                   0.501158
last11                                  0.489596
Timestamp                               0.483666
last3_                                  0.416505
last9                                   0.399706
last10                                  0.367460
Month                                   0.317968
last2_                                  0.302606
last12                                  0.274257
Cat                                     0.254338
Percentage Change (From Prior Month)    0.233807
last1_                                  0.211238
Year                                    0.205389
Day                                     0.142398
Unnamed: 4                                   NaN
Name: target, dtype: float64